body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
}

header, footer {
    padding: 10px;
    color: white;
    background-color: black;
}

section {
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
}
article {
    margin: 5px;
    padding: 10px;
    background-color: white;
}
#menu {
    height: 30px;
    background-color: black;
}

#menu li:hover {
    background-color: #615d5d;
}

#menu ul ul {
    position: absolute;
    left: 0;
    padding: 0;
    visibility: hidden;
}

#menu ul li:hover ul {
    visibility: visible;
}

#menu li{
    list-style: none;
    position: relative;
    float: left;
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    padding: 0 20px ;
    line-height: 29px;
    cursor: pointer;
}